@font-face{
    font-family: "OpenSans";
    src: local("OpenSans")
}
body{
    margin: 0px;
    background-color: rgb(230, 230, 230)
}
.hat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(69, 98, 227);
    display: flex;
    flex-direction: row;
    height: 37px;
}
.naz{
    width: 30%;
    margin-left: 14.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: white;
    font: Arial;
    font-size: 20px;
    font-weight: bold;
}
.search{
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 25px;
    margin-top: 5px;
    margin-right: 67.5%;
    background-color:rgb(53, 67, 125);
    border-radius: 15px;
}
.search input{
    background-color:rgb(53, 67, 125);
    border: 0px;
    margin-left: 3px;
    border-radius: 15px;
    text-decoration: none;
    color:rgb(94, 94, 94);
    font-family: 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    font-size: 13px;
}
.search .img1{
    margin-top: 3px;
    margin-left: 5px;
    filter: invert(0.4)
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.choice{
    width: 8%;
    margin-right: 1%;
}
.leftPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 23px;
}
.leftPanel a{
    font-family: OpenSans;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(53, 67, 125);
    text-decoration: none;
    font-weight: light;
}
.leftPanel a:hover{
    color:rgb(25, 31, 59);
}
.profile{
    margin-top: 20px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    height: fit-content;
    background-color: white;
    height: 273px;
    border-radius: 5px;
}
.photo{
    display: flex;
    justify-content: center;
}
.photo img{
    width:210px;
    height:210px;
    object-fit:cover;
    padding-top: 10px;
}
.profile button{
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 30px;
    margin-left: 12px;
    width: 90%;
    background-color: rgb(230, 230, 230);
    color: rgb(25, 31, 59);
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    font-family: OpenSans;
}
.miniPanel{
    display: flex;
    flex-direction: column;
    background-color: white;
    color:rgb(25, 31, 59);
    border-radius: 5px;
    padding: 7px;
    margin-top: -10px;
}
.nadpis{
    display: flex;
    flex-direction: row;
}
.nadpis p{
    display: flex;
    flex-direction: row;
    font-family: OpenSans;
    font-size: 14px;
}
.krujochki{
    display: flex;
}
.krujochki img{
    width: 27%;
    border-radius: 100%;
    margin-left: 7px;
    margin-right: 7px;
}
.krujochki1{
    display: flex;
}
.krujochki1 img{
    width: 27%;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 7px;
}
.text{
    display: flex;
    font-family: OpenSans;
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: -17px;
    justify-content: space-around;
}
.text p{
    margin-left: -10px;
}
.text1{
    display: flex;
    font-family: OpenSans;
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: -17px;
    justify-content: space-around;
    padding-bottom: 7px;
}
.text1 p{
    margin-left: 4px;
}
.ustala{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 5px;
    font-family: OpenSans;
    margin-left: 1%;
}
.page{
    margin-top: 5px;
}
.info{
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}
.name{
    font-family: OpenSans;
    padding-top:2px;
    margin-top: 16px;
    line-height: 1.3px;
    padding-bottom: 7px;
}
.bordy{
    width: 97%;
    border-top: 2px solid;
    border-radius: 5px;
    border-color: rgb(151, 151, 151);
    opacity: 0.6;
}
.columns{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.firstColumn{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-family: OpenSans;
    color:rgb(151, 151, 151);
    font-size: 13px;
    line-height: 0.05px;
}
.secondColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: OpenSans;
    color:rgb(86, 86, 86);
    font-size: 13px;
    line-height: 0.05px;
}
.secondColumn a{
    text-decoration: none;
}
.nums{
    display: flex;
    flex-direction: row;
}
.nums p{
    margin-right: 5%;
    margin-left: 6%;
    font-family: OpenSans;
    color:rgb(53, 67, 125);
    font-size: 20px;
}
.chtototam{
    margin-top: -27px;
    display: flex;
    flex-direction: row;
}
.chtototam p{
    font-family: OpenSans;
    color:rgb(151, 151, 151);
    font-size: 13px;
    justify-content: space-around;
}
.photoCartochki{
    margin-top: 2%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.my{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.myPhotoCartochki{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: -53px;
}
.myPhotoCartochki img{
    display: flex;
    object-fit: cover; 
    width: 24%; 
    height: 65%;
}
.posting{
    background-color: white;
    border-radius: 5px;
    margin-top: 2%
}
.author{
    display: flex;
    flex-direction: row;
}
.author img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 1%;
}
.dateAndName{
    display: flex;
    flex-direction: column;
    line-height: 0.05px;
    margin: 1.5%;
}
.post{
    margin-right: 2%;
    margin-left: 2%;
    font-family: Arial;
    font-size: 15px;
}
