@font-face{
    font-family: "OpenSans";
    src: local("OpenSans")
}
body{
    margin: 0px;
    background-color: rgb(230, 230, 230)
}
.hat{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(69, 98, 227);
    display: flex;
    flex-direction: row;
    height: 37px;
}
.naz{
    width: 30%;
    margin-left: 5.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: white;
    font: Arial;
    font-size: 20px;
    font-weight: bold;
}
.search{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 25px;
    margin-top: 5px;
    margin-right: 67%;
    background-color:rgb(53, 67, 125);
    border-radius: 15px;
}
.search input{
    background-color:rgb(53, 67, 125);
    border: 0px;
    margin-left: 3px;
    border-radius: 15px;
    text-decoration: none;
    color:rgb(94, 94, 94);
    font-family: 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    font-size: 13px;
}
.search .img1{
    margin-top: 3px;
    margin-left: 5px;
    filter: invert(0.4)
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.choice{
    width: 8%;
    margin-right: 1%;
}
.leftPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 23px;
}
.leftPanel a{
    font-family: OpenSans;
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(53, 67, 125);
    text-decoration: none;
    font-weight: light;
}
.leftPanel a:hover{
    color:rgb(25, 31, 59);
}
.friends{
    margin-top: 23px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 5px;
    padding-bottom: 20px;
}
.shapka{
    display: flex;
    flex-direction: row;
    height: 40px;
    font-family: OpenSans;
    font-size: 14px;
    padding-left: 3%;
}
.shapka button{
    margin-left: 33%;
    margin-top: 9px;
    background-color: rgb(69, 98, 227);
    color: white;
    border: none;
    border-radius: 5px;
    height: 28px;
    padding-right: 17px;
    padding-left: 17px;
}
.bordy{
    margin-top: 5px;
    height: 1px;
    width: 100%;
    background-color:rgb(94, 94, 94);
    opacity: 0.3;
}
.poisk{
    height: 40px;
    display: flex;
    flex-direction: row;
}
.poisk img{
    margin-top: 6px;
    margin-left: 10px;
    filter: invert(0.4)
}
.poisk input{
    margin-left: 6px;
    margin-top: -5px;
    font-family: OpenSans;
    font-size: 15px;
    border: none;
    width: 100%;
}
.poisk input:hover{
    outline: 0;
    outline-offset: 0;
}
.friend{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    font-family: OpenSans;
}
.ava img{
    margin-left: -30%;
    width: 80px;
    border-radius: 100%;
}
.info a{
    color: rgb(53, 67, 125);
    text-decoration: none;
    margin-bottom: 0;
}
.info h6{
    color: rgb(94, 94, 94);
    margin-top: 10px;
    margin-bottom: 5px;
}
.rightPanel{
    width: 20%;
    font-family: OpenSans;
    margin-left: 1%;
}
.right{
    background-color: white;
    margin-top: 23px;
    border-radius: 3%;
    padding: 5px;
    padding-left: 15px;
    padding-top: 15px;
    height: fit-content;
    color:rgb(42, 45, 63);
}
.right p{
    margin-top: -3px;
}
.right p:hover{
    background-color: rgba(131, 121, 245, 0.422);
    padding: 5px;
}
.mb{
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    margin-top: 10px;
    border-radius: 3%;
}
.miniFriend{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.miniInfo{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    font-family: OpenSans;
    margin-top: -2%;
}
.miniAva img{
    width: 50px;
    border-radius: 100%;
}
.miniInfo a{
    color: rgb(53, 67, 125);
    text-decoration: none;
    margin-bottom: 0;
    font-size: 15px;
}
.miniInfo p{
    color: rgb(94, 94, 94);
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 11px;
}